@model empmgmt.Models.UserModel

@{
    ViewData["Title"] = "Create";
     List<SelectListItem> departments = (List<SelectListItem>)ViewBag.Departments;
     List<SelectListItem> positions = (List<SelectListItem>)ViewBag.Positions;
}


<div class="row w-100 forms">
     <h1 class="pt-5 pb-4"><span>Add Employee</span></h1>
    <div class="col-md-10 offset-md-1">
        <form asp-action="Create" asp-controller="User" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-flex">
                <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <input asp-for="EmpId" class="form-control" />
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="DpartmentId" class="control-label"></label>
                <select asp-for="DpartmentId" asp-items="departments" class="form-control"></select>
                <span asp-validation-for="DpartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionId" class="control-label"></label>
                <select asp-for="PositionId" asp-items="positions" class="form-control"></select>
                <span asp-validation-for="PositionId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <select asp-for="RoleName" class="form-control">
                    <option value="Employee">Employee</option>
                    <option value="Admin">Admin</option>
                </select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            </div>

            <center>
                <div class="form-group">
                <input type="submit" value="Create" class="project-button" />
            </div>
            </center>
        </form>
    </div>
</div>

<div class="back-list">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
