

<div class="row dash w-100">
    <div class="col-md-2 dashboard">
        <div class="admin_profile">
            <h2>Admin</h2>
        </div><hr />
        <div class="nav_link">
             <ul class="nav-links">
                 <li>
                     <a href="/Dashboard/Index"><i class='bx bx-grid-alt' ></i> Dashboard</a>
                 </li>
                    <li>
                     <a href="/Department/Index"><i class='bx bx-laptop'></i> Departments</a>
                 </li>
                  <li>
                     <a href="/Position/Index"><i class='bx bxs-user-badge'></i>Positions</a>
                 </li>
                  <li>
                     <a href="/User/Index"><i class='bx bxs-coin-stack'></i> View Employee</a>
                 </li>
                  <li>
                     <a href="/Project/Index"><i class='bx bx-box' ></i> Projects</a>
                 </li>
                 <li>
                     <a href="/Leave/Index"><i class='bx bx-message' ></i> View Leave</a>
                 </li>
                 <li>
                     <a href="/User/Profile"><i class='bx bx-user' ></i> User</a>
                 </li>
                 <li>
                     <a href="/User/Logout"><i class='bx bx-exit'></i> Log Out</a>
                 </li>
             </ul>
        </div>
    </div>
     <div class="col-md-10 side">
         <div class="side_head">
             <h2 class="pt-4">Employee Management System</h2>
         </div>
        <div class="sides">
             <div class="row mt-4 pt-5">
                 <h5 class="ps-5 ms-1 emsd pb-3">Employee management system dashboard</h5>
             <div class="col-md-6">
                 <div class="user d-flex">
                    <i class='bx bxs-coin-stack'></i> <h5> <a href="/User/Index"> Employee </a></h5>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="users d-flex">
                    <i class='bx bx-laptop'></i> <h5> <a href="/Department/Index">Department </a></h5>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="userss d-flex">
                     <i class='bx bx-box' ></i> <h5> <a href="/Project/Index">Projects</a></h5>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="usersss d-flex ">
                   <i class='bx bx-user' ></i> <h5><a href="/Leave/Index"> Leave </a></h5>
                 </div>
             </div>

         </div>
        </div>
    </div>
</div>
